

.mainheadss {
    font-family: 'Switzer Regular';
    font-size: 24px;
    font-weight: 600;
    line-height: 27.77px;
}

.card {
    width: 100%;
    height: 214px;
    box-shadow: 1px 1px 50px rgba(105, 105, 105, 0.1); 
    border-radius: 8px; 
    padding: 20px 19px;
    cursor: pointer;
}

.singlecard {
    width: 72px;
    height: 72px;
    border: 14.16px;
}

.dashicons {
    width: 28px;
    height: 28px;
}


.subheads {
    font-family: 'Switzer Regular';
    font-weight: 500;  
    font-size: 18px;
    margin-bottom: 10px;
}

.ptexts {
    font-family: 'Switzer Regular';
    font-weight: 600;
    font-size: 32px;
    line-height: 42.24px;
}

.dashtoptext {
    padding-top: 15px;
    padding-bottom: 25px;
}

.toptext {
    text-align: center;
    font-family: 'Switzer Light';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.2px;
    color: #677487;
}

.toptextspan {
    font-family: 'Switzer Regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 20.83px;
    color: #254396;
}

.cardslay {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
}
.twotables {
    gap: 20px;
}




@media(min-width:432px){
    .dashtoptext {
        display: none;
    }
}

@media(max-width:431px) {
    .cards {
        width: 100%;
        margin-bottom: 35px;
    }

    .cardslay {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cardslay .card:last-child {
        grid-column: span 2; /* Make the last card span full width on mobile */
    }

    .singlecard {
        width: 44px;
        height: 44px;
        border-radius: 6px;
    }

    .dashicons {
        width: 24px;
        height: 24px;
    }

    .card {
        padding: 14px;
        height: 157px;
    }

    .subheads {
        font-size: 16px;
        font-family: 'Switzer Regular';
        font-weight: 500;
        line-height: 21.12px;
        margin-top: 15px;
    }

}

@media(max-width:421px) {
    .cards {
        width: 100%;
    }
    .subheads {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .toptext {
        font-size: 14px;
    }
    .toptextspan {
        font-size: 18px;
    }

}

@media (max-width: 403px) {
    .cards {
        width: 359px;
    }
    .card {
        height: 153px;
    }
    .mainheadss {
        font-size: 22px;
    }
    .subheads {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .ptexts {
        font-size: 30px;
    }
    .toptext {
        font-size: 12px;
    }
    .toptextspan {
        font-size: 16px;
    }
}

@media (max-width: 376px) {
    .cards {
        width: 345px;
    }
    .subheads {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .toptext {
        font-size: 10px;
    }
    .toptextspan {
        font-size: 14px;
    }
    
}

@media (max-width: 361px) {
    .cards {
        width: 328px;
    }
    .subheads {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .toptext {
        font-size: 8px;
    }
    .toptextspan {
        font-size: 12px;
    }
}


