.recent-activities {
  height: auto;
  border: 1px solid #E9E9E9;
}

.recent-activities .recenthead {
  top: 0; 
  background-color: white; 
  border-radius: 8px;
  padding: 20px 20px;
  line-height: 31.68px;
  width: 100%;
  font-family: 'Switzer SemiBold';
  font-size: 24px;
  color: #25282B;
}

.recent-activities .arrownotactive {
  font-size: 14px;
  color: #DCDCDC;
}
.recent-activities .arrowactive {
  font-size: 15px;
  color: #25282B;
}

.recent-activities .text-black {
  font-size: 16px;
  color: black;
}

.recent-activities .border-b-2 {
  border-bottom: 2px solid #000;
}

.expirydatesactive {
  font-family: 'Switzer SemiBold';
  font-size: 16px;
  line-height: 20px;
  border-bottom: 3px solid #1E4DA1;
  border-top: 3px solid transparent;
  color: #1E4DA1;
  padding-bottom: 2px;
  outline: none;
}

.expirydatesInactive {
  font-family: 'Switzer Regular';
  font-size: 14px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  line-height: 20px;
  color: #677487;
  padding-bottom: 2px;
}

.expirydaystab {
  padding: 0px 24px;
}

.activitytabs {
  min-height: 70px;
  background-color: white;
  border: 1px solid #E9E9E9;
  box-shadow: 1px 1px 50px rgba(105, 105, 105, 0.1);
  cursor: pointer;
  margin-top: 8px;
}
.activitytabs:hover {
  background-color: #f3f4f6;
}

.recentactivitythead {
  font-family: 'Switzer Regular';
  color: #677487;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #E9E9E9;
}

.recentactivityheadclass {
  height: 35px;
}
.recentactivitydataclass {
  height: 35px;
}

.idtext {
  font-family: 'Switzer Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #25282B;
}

.cmytext {
  font-family: "Switzer Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #25282B;
}
.expirydaystabs {
  border-bottom: 1px solid #E9E9E9;
}
.paginateactive {
  color: #1E4DA1;
  font-family: 'Switzer Medium';
}
.paginateInactive {
  color: #898989;
  font-family: 'Switzer Medium';
}






.recent-activities.dark {
  border: 1px solid #343434;
}
.recent-activities.dark .recenthead {
  background-color: #13131A;
  color: white;
}
.recent-activities.dark .expirydaystabs {
  border-bottom: 1px solid #13131A;
}
.recent-activities.dark .expirydatesactive {
  border-bottom: 3px solid white;
  color: white;
}
.recent-activities.dark .activitytabs {
  background-color: #1C1C24;
  border: 1px solid #343434;
  box-shadow: 1px 1px 50px rgba(105, 105, 105, 0.03);
}
.recent-activities.dark .recentactivitythead {
  border-bottom: 1px solid #343434;
}
.recent-activities.dark .idtext {
  color: white;
}
.recent-activities.dark .cmytext {
  color: white;
}
.recent-activities.dark .paginateactive {
  color: #2258B6;
}
.recent-activities.dark .arrownotactive {
  color: #25282B;
}
.recent-activities.dark .arrowactive {
  color: #DCDCDC;
}
.recent-activities.dark .activitytabs:hover {
  background-color: rgb(14, 14, 14);
}





@media(max-width:431px) {
  .recent-activities {
    width: 100%;
    margin-bottom: 5rem;
  }
  .recent-activities .recenthead {
    margin-bottom: 0px;
    padding-bottom:10px;
    width: 60%;
  }
  .expirydaystab {
    padding: 0px 9px;
  }
  .activitytabs {
    margin-top: 10px;
  }
  .expirydatesactive {
    font-size: 15px;
  }
  .expirydatesInactive {
    font-size: 13px;
  }
  .recentactivitythead {
    font-size: 13px;
  }
}

@media(max-width:407px) {
  .expirydatesactive {
    font-size: 14px;
  }
  .expirydatesInactive {
    font-size: 12px;
  }
  .idtext {
    font-size: 13px;
  }
  .cmytext {
    font-size: 13px;
  }
  .recentactivitythead {
    font-size: 12px;
  }
}

@media(max-width:391px) {
  .expirydatesactive {
    font-size: 13px;
  }
  .expirydatesInactive {
    font-size: 11px;
  }
  .idtext {
    font-size: 12px;
  }
  .cmytext {
    font-size: 12px;
  }
  .recentactivitythead {
    font-size: 11px;
  }
}

@media(max-width:361px) {
  .expirydatesactive {
    font-size: 12px;
  }
  .expirydatesInactive {
    font-size: 10px;
  }
  .idtext {
    font-size: 11px;
  }
  .cmytext {
    font-size: 11px;
  }
}


