.navbar {
    position: sticky;
    z-index: 50;
    border-bottom: 1px solid #E9E9E9;
    padding: 0px 16px;
}

 .span1 {
    font-family: 'Switzer Regular';
    font-weight: 500;
    font-size: 16px;
}

 .span2 {
    font-family: 'Switzer Regular';
    font-size: 18px;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%; 
    border: 1px solid #E9E9E9;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.icons {
    height: 46px;
}

/* Divider between settings and profile */
.divider {
    height: 32px; /* Adjust the height for alignment */
    width: 1px;
    background-color: #E9E9E9; /* Light gray */
    margin: 0 8px; /* Add some space between elements */
}

.span3 {
    font-family: 'Switzer Light';
    font-weight: 400;
    font-size: 16px;
}

.span4 {
    font-family: 'Switzer Light';
    font-size: 12px;
}

.dashboardicon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%; 
    border: 1px solid #E9E9E9;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.imgdashicon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(45%) saturate(200%) hue-rotate(180deg) brightness(85%) contrast(95%);
}



/* Dropdown menu initial state */
.dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }
  
  /* Dropdown menu when it is visible */
  .dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .dashboardicon:active {
    background-color: #254396;
  }

  .navbar .dashboardicon:active .imgdashicon {
    filter: brightness(100%) saturate(0%);
  }




  /* Responsive Design */
  @media (min-width: 501px) and (max-width:821px) {
    .navbaritem {
        display: flex;
    }
    .span3 {
        font-size: 13px;
    }
    .span4 {
        font-size: 11px;
    }
    .profileicon {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
    }
    .bellicon {
        width: 30px;
        height: 30px;
    }
    .settingicon {
        width: 30px;
        height: 30px;
    }
    .divider {
        height: 24px;
    }
    .span1 {
        font-size: 14px;
    }
    .span2 {
        font-size: 16px;
    }
  }

  @media(min-width:432px){
    .navlogo, .dashboardicon {
        display: none;
    }   
  }

  @media(max-width:431px) {
    .navbar {
        height: 90px;
        width: 100%;
        border-bottom: none;
        box-shadow: 1px 1px 50px rgba(105, 105, 105, 0.1);
    }
    .span1, .span2, .divider, .adminname, .profileicon {
        display: none;
    }
    .navlogo {
        width: 161px;
        transform: translateY(50%);
    }
    .icons {
        transform: translateY(30%);
    }
    .bellimg, .settingimg, .imgdashicon {
        width: 17px;
        height: 17px;
    }
    .bellicon, .settingicon, .dashboardicon {
        width: 36px;
        height: 36px;
    }
  }

  @media (max-width: 421px) {
    .navbar {
        height: 73px;
        width: 100%;   
    }
    .navlogo {
        width: 143px;
        transform: translateY(35%);
    }
    .icons {
        transform: translateY(15%);
    }
    .bellimg, .settingimg, .imgdashicon {
        width: 17px;
        height: 17px;
    }
    .bellicon, .settingicon, .dashboardicon {
        width: 36px;
        height: 36px;
    }
  }

  @media (max-width: 400px) {
    .navbar {
        height: 74px;
        width: 100%;   
    }
    .navlogo {
        width: 139px;
        transform: translateY(27%);
    }
    .bellicon, .settingicon, .dashboardicon {
        width: 36px;
        height: 36px;
    }
    .bellimg, .settingimg, .imgdashicon {
        width: 17px;
        height: 17px;
    }
  }

  @media (max-width: 376px) {
    .navbar {
        height: 73px;
        width: 100%;   
    }
    .navlogo {
        width: 120px;
        transform: translateY(39%);
    }
    .bellimg, .settingimg, .imgdashicon {
        width: 15px;
        height: 15px;
    }
    .bellicon, .settingicon, .dashboardicon {
        width: 30px;
        height: 30px;
    }
  }

  @media (max-width: 361px) {
    .navbar {
        height: 73px;
        width: 100%;   
    }
    .navlogo {
        width: 116px;
        transform: translateY(39%);
    }
    .icons {
        transform: translateY(20%);
    }
    .bellimg, .settingimg, .imgdashicon {
        width: 14px;
        height: 14px;
    }
    .bellicon, .settingicon, .dashboardicon {
        width: 27px;
        height: 27px;
    }
  }
