.mainsidebar {
  width: 127px;
  background-color: #f7f7f7;
  border-color: #E9E9E9;
}

.mainsidebar .logo {
  width: 103.51px;
  height: 20px;
  position: relative;
  top: 40px;
}

.mainsidebar .item {
  width: 127px;
  height: 49px;
  padding: 8px 0;
  transition: all 0.3s ease-in-out;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

.mainsidebar .item .sideicon {
  width: 16px;
  height: auto;
}

.mainsidebar .spans {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 14px;
  color: #677487;
}

/* Hover State */
.mainsidebar .item:hover {
  transition: all 0.3s ease-in-out;
}

.mainsidebar .item:hover .sideicon {
  filter: brightness(0) saturate(100%) invert(19%) sepia(77%) saturate(2567%)
    hue-rotate(209deg) brightness(93%) contrast(96%);
}

.mainsidebar .item:hover .spans {
  color: #1e4da1;
}

/* Active State */
.mainsidebar .item.active {
  border-right: 3px solid #1e4da1;
  border-left: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.mainsidebar .item.active .sideicon {
  filter: brightness(0) saturate(100%) invert(19%) sepia(77%) saturate(2567%)
    hue-rotate(209deg) brightness(93%) contrast(96%);
}

.mainsidebar .item.active .spans {
  color: #1e4da1;
}
.sidebartab {
  gap: 20px;
}

.mainsidebar.dark {
  background-color: #1c1c24;
  border-right: 1px solid #232323;
}

.mainsidebar.dark .logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(180deg) brightness(105%) contrast(100%);
}

.mainsidebar.dark .item.active .sideicon {
  filter: brightness(0) saturate(100%) invert(38%) sepia(88%) saturate(431%) hue-rotate(152deg) brightness(97%) contrast(93%);
}

.mainsidebar.dark .item.active .spans {
  color: #1E84AF;
}

.mainsidebar.dark .item.active {
  border-right: 3px solid #1E84AF;
  border-left: 3px solid transparent;
}









/* Responsive Styles */
@media (min-width: 501px) and (max-width: 821px) {
  .sidebartab {
    margin-top: 3rem;
  }
  .mainsidebar .item {
    margin-top: 2rem;
  }
}
@media (max-width: 500px) {
  .mainsidebar .item {
    width: 127px;
    height: 49px;
    padding: 8px 0;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out; /* Smooth animation */
  }

  .mainsidebar .logo {
    width: 103.51px;
    height: 20px;
    position: relative;
    top: 40px;
    margin-bottom: 5rem;
  }
}

@media (max-width: 431px) {
  .mainsidebar {
    position: fixed;
    bottom: 0;
    height: 87px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.05);
  }

  .logo {
    display: none;
  }

  nav {
    display: flex;
  }

  .mainsidebar .item {
    justify-content: center;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    width: 8.5rem;
    width: 90px;
    margin: 1.6rem 5px;
  }

  .mainsidebar .item.active {
    border-bottom: 0.2rem solid #254396;
    border-top: 3px solid transparent;
    border-right: 3px transparent;
    border-left: 3px transparent;
    /* width: 55%; */
    width: 110px;
  }

  .mainsidebar .item .sideicon {
    width: 16.67px;
    height: auto;
    margin-bottom: 2px;
  }

  .mainsidebar .item.active .spans {
    color: #254396;
    /* font-size: 18px;  */
  }

  .mainsidebar .item.active .sideicon {
    filter: brightness(0) saturate(100%) invert(20%) sepia(95%) saturate(667%)
      hue-rotate(190deg) brightness(95%) contrast(90%);
  }

  .mainsidebar .item .sideicon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(7%) saturate(400%)
      hue-rotate(180deg) brightness(95%) contrast(85%);
  }

  .mainsidebar .spans {
    font-family: "Switzer Regular";
    font-size: 18px;
    color: #25282b;
    font-weight: 500;
    margin-bottom: 9px;
  }
  .sidebartab {
    gap: 20px;
  }
}

@media (max-width: 421px) {
  .mainsidebar {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  }

  .mainsidebar .item {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    margin-top: 1.2rem;
    width: 55%;
    transition: all 0.3s ease-in-out;
  }

  .mainsidebar .item .sideicon {
    width: 18px;
    height: auto;
    margin-bottom: 2px;
  }

  .mainsidebar .spans {
    font-family: "Switzer Regular";
    font-size: 14px;
    margin: 0 10px;
    color: #25282b;
    font-weight: 500;
    text-align: center;
  }

  .mainsidebar .item.active {
    border-bottom: 3px solid #1e4da1;
    border-top: 3px solid transparent;
    width: 55%;
  }
  .sidebartab {
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .mainsidebar {
    position: fixed;
    bottom: 0;
    height: 68px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  }

  .mainsidebar .item {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    margin-top: 0.7rem;
    width: 55%;
    transition: all 0.3s ease-in-out;
  }

  .mainsidebar .item .sideicon {
    width: 16px;
    height: auto;
    margin-bottom: 1px;
  }

  .mainsidebar .spans {
    font-family: "Switzer Regular";
    font-size: 13px;
    margin: 0 7px;
    color: #25282b;
    font-weight: 500;
    text-align: center;
  }

  .mainsidebar .item.active {
    border-bottom: 3px solid #1e4da1;
    border-top: 3px solid transparent;
    width: 55%;
  }
  .sidebartab {
    gap: 9px;
  }
}

@media (max-width: 376px) {
  .mainsidebar {
    position: fixed;
    bottom: 0;
    height: 62px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  }

  .mainsidebar .item {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    margin-top: 0.3rem;
    width: 55%;
    transition: all 0.3s ease-in-out;
    padding: 0px;
  }

  .mainsidebar .item .sideicon {
    width: 14px;
    height: auto;
    margin-bottom: 1px;
  }

  .mainsidebar .spans {
    font-family: "Switzer Regular";
    font-size: 12px;
    margin: 0 5px;
    color: #25282b;
    font-weight: 500;
    text-align: center;
  }

  .mainsidebar .item.active {
    border-bottom: 3px solid #1e4da1;
    border-top: 3px solid transparent;
    width: 55%;
  }
  .sidebartab {
    gap: 8px;
  }
}
