.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-color: #E9E9E9;
}

.cmpilisthead {
  padding: 20px;
  font-family: 'Switzer SemiBold';
  font-size: 24px;
  line-height: 27.77px;
  color: #25282B;
}

.search {
  width: 266px;
  height: 40px;
  padding: 0px 10px;
  border-color: #E9E9E9;
}

.search::placeholder {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 14px;
  color: #898989;
}

.topbtn {
  font-family: "Switzer Light";
  font-weight: 400;
  line-height: 20px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.addcmpny {
  width: 169px;
  height: 40px;
  color: white;
  background-color: #1BC194;
}

.excsv {
  width: 134px;
  height: 40px;
}

.overflow-x-auto {
  width: 100%;
  overflow-x: auto;
}

.table-auto {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
}

tr {
  height: 52px;
}

.c_logo {
  padding: 0;
}

.toggle {
  width: 27px;
  /* height: 15px; */
}

.bar {
  width: 11px;
  height: 11px;
}

.translate-x-2 {
  transform: translateX(0.6rem);
}

.translate-x-0 {
  transform: translateX(-0.1rem);
}

.pagination {
  font-family: "Switzer Light";
  font-weight: 400;
  line-height: 18.48px;
  font-size: 14px;
  color: rgb(138, 148, 162);
}
.pageno {
  font-family: "Switzer Regular";
  font-weight: 500;
  font-size: 13px;
}

.companieslist {
  border-collapse: collapse;
  width: 100%;
}

.listheads {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 30px;
  border-top: 1px solid #E9E9E9;
}
.companiesthead {
  font-family: "Switzer Regular";
  font-weight: 400;
  font-size: 12px;
  color: #677487;
  line-height: 13.88px;
  height: 21px;
  padding: 10px 15px;
}

.companiesdata {
  padding: 15px 15px;
  font-family: "Switzer Regular";
  font-size: 12px;
  text-align: start;
  font-weight: 400;
  line-height: 18px;
  color: #677487;
}
.companiesdatasl {
  padding: 15px 15px;
  font-family: "Switzer Regular";
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  color: #677487;
}
.comperdata {
  padding-left: 0px;
}

.block {
  width: 55px !important;
  text-align: center;
}
.blocks {
  padding: 2px 6px;
  font-family: "Switzer Light";
  font-weight: 400;
}
.companiestheadlogo {
  font-family: "Switzer Regular";
  font-weight: 400;
  font-size: 12px;
  color: #677487;
  line-height: 21px;
  height: 21px;
  padding: 0px;
  width: 121px;
  height: 41px;
}
.compnyname {
  width: 350px;
}

.compnyemail {
  width: 230px;
}
.compnyper {
  padding: 10px 10px 10px 0px;
}
.tblrows {
  border-bottom: 1px solid #e9e9e9;
}
.tblrows:last-child {
  border-bottom: none;
}
.mobhead {
  font-family: "Switzer Light";
  font-weight: 400;
  font-size: 12px;
  line-height: 13.88px;
  padding-bottom: 3px;
  color: #677487;
}
.mobdata {
  font-family: "Switzer Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #25282b;
}
/* .mobcmpyadmin,
.mobcmpyphone {
  padding-top: 5px;
} */
.mobemaildiv {
  padding-top: 10px;
}

.mobactions {
  padding-top: 15px;
}
.comadminname {
  width: 150px;
}
.mobicon {
  margin-top: 5px;
}
.mobviewicon {
  margin-top: 8px;
}
.topbtns {
  display: flex;
}

.comhead {
  background-color: #F7F7F7;
}

.main.dark {
  border-color: #343434;
}

.main.dark .cmpilisthead {
  color: white;
}

.main.dark .search {
  background-color: #13131A;
  border-color: #343434;
  color: #677487;
}

.main.dark .search::placeholder {
  color: #677487;
}

.main.dark .listserachicon {
  filter: brightness(0) saturate(100%) invert(49%) sepia(22%) saturate(386%) hue-rotate(176deg) brightness(86%) contrast(82%);
}

.main.dark .addcmpny { 
  color: #0D0D0D;
  background-color: #1FD8A3;
}

.main.dark .addcmpny img { 
  filter: brightness(0) saturate(100%) invert(0%) sepia(3%) saturate(7489%) hue-rotate(111deg) brightness(98%) contrast(91%);
}

.main.dark .listheads  { 
  border-top: 1px solid #232323;
}

.main.dark .comhead { 
  background-color: #1C1C24;
}

.main.dark .companiesthead { 
  color: #ADADAD;
}

.main.dark .companiestheadlogo {
  color: #ADADAD;
}







@media (min-width: 501px) and (max-width:1025px) {
  .tabview {
    display: none;
  }
  .navcomitems {
    display: flex;
    margin: auto;
    gap: 40px;
  }
  .cmpilisthead {
    padding-bottom: 0px;
  }
  .dropheadtab {
    justify-self: end;
    padding-right: 60px;
  }
  .bgarrowtab {
      background-color: #dedede;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      margin: 20px;
      align-content: center;
      justify-items: center;
      transition: background-color 0.3s ease;
    
  }
  .bgarrowtab.active {
    background-color: #254396;
  }
  .dropdown-imgtab {
    transition: transform 0.3s ease;
  }
  .dropdown-imgtab.rotated {
    transform: rotate(180deg);
  }
  .companiesdata {
    font-size: 11px;
  }
  .dropdownlist {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .mobactions {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tabview {
    display: none;
  }
  .dropdown-row td {
    border-bottom: 1px solid #e5e5e5;
  }
  .tblrows.no-border {
    border-bottom: none;
  }
  .companiesdata{
    padding-right: 0px;
  }
  .mobdata {
    font-size: 12px;
  }
  .mobhead{
    font-size: 11px;
  }
  .recent-activities .accards {
    margin: 10px 0px;
  }

}

@media (min-width: 501px) and (max-width:769px) {
  .search {
    width: 200px;
  }
}



@media (min-width: 432px) {
  .drophead,
  .bgarrow,
  .addcmpymob {
    display: none;
  }
}

@media (max-width: 431px) {
  .nodisplayhead,
  .dropheadtab,
  .nodisplaydata,
  .addnewcmpy {
    display: none;
  }
  .navcomitems {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .topbtns {
    display: flex;
  }
  .cmpilisthead {
    padding-bottom: 0px;
  }
  .search {
    width: 100%;
    margin-bottom: 15px;
  }
  .listserachicon {
    translate: 0px -6px;
  }
  .excsv {
    order: 2;
    width: 100%;
  }
  .addcmpny {
    order: 1;
    width: 100%;
  }
  .companiestheadlogo {
    width: 85px;
    height: 28.81px;
  }
  .comhead {
    height: 32px;
  }
  .compnyname {
    width: 60%;
    padding: 10px 30px;
  }
  .drophead {
    justify-self: end;
    padding-right: 20px;
  }
  .bgarrow {
    background-color: #dedede;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    align-content: center;
    justify-items: center;
    transition: background-color 0.3s ease;
  }
  .bgarrow.active {
    background-color: #254396;
  }

  .dropdown-img {
    transition: transform 0.3s ease;
  }

  .dropdown-img.rotated {
    transform: rotate(180deg);
  }
  .dropdown-row td {
    border-bottom: 1px solid #e5e5e5;
  }
  .dropdown-row:last-child td {
    border: none;
  }
  .tblrows.no-border {
    border-bottom: none;
  }
  .companiesdatasl {
    font-family: "Switzer Regular";
    padding-right: 25px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #25282b;
  }
  .companydataname {
    font-family: "Switzer Regular";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #25282b;
    padding-left: 30px;
  }
  .dropdownlist {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .companiestheadsl {
    padding-right: 25px;
  }
  .pagination, .pageswipe {
    font-size: 13px;
  }
  .companydataname {
    padding-left: 25px;
  }
    .compnyname {
      padding: 10px 25px;
    }
    .companiestheadsl {
      padding-right: 20px;
    }
    .companiesdatasl {
      padding-right: 15px;
    }
    .paginationmob {
      margin-bottom: 5rem;
    }
}

@media (max-width:415px) {
  .companydataname {
    padding-left: 25px;
  }
    .compnyname {
      padding: 10px 25px;
    }
    .companiestheadsl {
      padding-right: 20px;
    }
    .companiesdatasl {
      padding-right: 15px;
    }
    .mobdata {
      font-size:13px ;
    }
    .paginationmob {
      margin-bottom: 4rem;
    }
}

@media (max-width:401px) {
  .mobdata {
    font-size:13px ;
  }
  .companydataname {
    font-size: 13px;
  }
  .paginationmob {
    margin-bottom: 4rem;
  }
}

@media (max-width:385px) {
  .mobdata {
    font-size:12px ;
  }
  .companydataname {
    font-size: 12px;
  }
  .paginationmob {
    margin-bottom: 4rem;
  }
}

/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  animation: scaleIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
} */

/* .modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cancel-btn {
  background-color: #eae7e7;
  color: #333;
}

.confirm-btn {
  background-color: #ff4d4d;
  color: white;
}
.confirm-btn:hover {
  background-color: #ec2a2a;
  color: white;
} */
