
.view-company-container {
  width: 85%;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  font-family: 'Arial', sans-serif;
}


.headercmpy {
  font-size: 26px;
  font-family: 'Switzer Regular';
  font-weight: 600;
  text-align: start;
  color: #25282B;
  text-decoration:underline;
  margin-bottom: 25px;
  padding: 2rem 0;
}


.viewcpmylabels {
  font-size: 18px;
  font-family: 'Switzer Regular';
  font-weight: 600;
  color: #25282B;
  margin-bottom: 8px;
  display: block;
}

.viewdata {
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 18px 0;
}


.company-logos {
  max-width: 180px;
  max-height: 180px;
  border-radius: 10px;
  margin-top: 12px;
  object-fit: cover;
}


.lists {
  list-style-type: square;
  padding-left: 25px;
  margin: 15px 0 0;
}

.lists li {
  font-size: 16px;
  color: #333;
  padding: 4px 0;
}


@media (max-width: 768px) {
  .md\\:grid-cols-2 {
      grid-template-columns: 1fr;
  }

  .view-company-container {
    width: 95%;
    padding: 20px;
  }

  .headercmpy {
    font-size: 22px;
  }

  .headcmpy {
    font-size: 18px;
  }

  .viewdata {
    font-size: 14px;
  }
}

@media(max-width:431px) {
  .view-company-container {
    margin-bottom: 100px;
  }
}
